@media screen and (min-width:576px) {
	.intro {
		display:inline-block;
		float:right;
		margin-top: 0.2em;
		text-align: right;
	}

	.proj-img-container {
		width: 100%;
	}
	
	h1 {
		font-size: 2.5em;
	}	

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.2em;
	}
}

@media screen and (min-width:900px) {
	header,
	main,
	footer {
		width:900px;
		margin: 0 auto;
	}
}


