/*Universal styles*/
h1, h2, h3, p, a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color:#2d3c49;
	white-space: nowrap;
}

h1 {
	font-size: 2em;
}

h2 {
	color:#7d97ad;
	font-size: 1.4em;
}

h3 {
	font-size: 1em;
}

h3, p {
	text-transform: uppercase;
}

img {
	width:100%;
}
/*Header styles*/
.header-row {
	margin: 0.8em 0;
	border-bottom: 2px solid #7d97ad;
}

.logo p {
	color:#02b3e4;
	font-size: 3em;
	border-radius:100%;
	border: 4px solid #02b3e4;
	display:inline-block;
	padding:0.2em;
	font-weight: 400;
}

.intro {
	padding-top: 0.4em;
}

.intro h1,
.intro p {
	margin-bottom: 0;
	margin-top: 0;
}
/*Main content styles*/
.project-info {
	text-align: center;
}

.project-info h3 {
	padding-top: 0.5em;
}

.project-info a {
	text-decoration-color: #2d3c49;
}

.project-links {
	margin-top:1em;
}

.project-address {
	font-size:0.7em;
}

.proj-img-container {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	/*Decreasing image size to differentiate from hero/jumbotron*/
}

.proj-img-container {
  overflow: hidden;
}

.proj-img-container img {
	opacity: 0.7;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.proj-img-container img:hover {
	opacity: 1;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
/*Footer styles*/
.footer-row {
	margin: 0;
	background-color: #d0d9e2;
}

.nav-item a {
	color:#2d3c49;
	/*add larger selectable area and separation for finger/mobile users*/
	padding:1em;
	margin:0.5em;
}

.nav-item a:hover {
	color:#000;
	text-decoration: underline;
}