h1, h2, h3, p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color:#2d3c49;
}

h1 {
	font-size: 2.5em;
}

h2 {
	color:#7d97ad;
}
h3, p {
	text-transform: uppercase;
}

img {
	width:100%;
}

/*Header styles*/
.logo p {
	color:#02b3e4;
	font-size: 3em;
	border-radius:100%;
	border: 4px solid #02b3e4;
	display:inline-block;
	padding:0.2em;
	font-weight: 400;
}

.intro {
	padding-top: 0.4em;
}

.project-info {
	text-align: center;
}

.project-links {
	margin-top:1em;
}

.project-address {
	font-size:0.7em;
}

.header-row {
		margin: 0.8em 0;
		border-bottom: 3px solid #7d97ad;
}


